<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "AutomotiveBusiness",
  "name": "{{ .Site.Title }}",
  "description": "{{ .Site.Params.description }}",
  "url": "{{ .Site.BaseURL }}",
  "telephone": "{{ .Site.Params.phone }}",
  "email": "{{ .Site.Params.email }}",
  "image": "{{ "images/heroes/home.webp" | absURL }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "44 E 1st St",
    "addressLocality": "Jacksonville",
    "addressRegion": "FL",
    "postalCode": "32206",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 30.33128,
    "longitude": -81.65694
  },
  "openingHours": "Mo-Fr 08:00-16:30",
  "sameAs": {{ $social := slice }}{{ with .Site.Params.facebook }}{{ $social = $social | append . }}{{ end }}{{ with .Site.Params.instagram }}{{ $social = $social | append . }}{{ end }}{{ $social | jsonify }}
}
</script>
