{{ define "main" }}
<section class="page-hero"{{ with .Params.heroImage }} style="background-image: url('{{ . | relURL }}')"{{ end }}>
  <div class="hero-overlay">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</section>
<section class="page-content">
  <div class="container">
    {{ .Content }}
    {{ range .Pages }}
    <article class="list-item">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ with .Description }}<p>{{ . }}</p>{{ end }}
    </article>
    {{ end }}
  </div>
</section>
{{ end }}
